#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TIMEOUT) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <TIMEOUT>; \
  };

/*                          KEY POSITIONS

  ╭────────────────────────╮              ╭────────────────────────╮
  │  0   1   2   3   4   5 |              │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 |              │ 18  19  20  21  22  23 │
  │ xx  25  26  27  28  29 xx────╮ ╭─────xx 32  33  34  35  36  xx │
  ╰──────────────╮ xx  39  40 xx | | xx  43  44  xx ╭──────────────╯
                 ╰───────────────╯ ╰────────────────╯
*/

/ {
    combos {
        compatible = "zmk,combos";

        // Vertical Left Hand
        COMBO(left_bracket, &macro_left_brac, 2 14, DEF, 40)
        COMBO(left_brace, &kp LBRC, 3 15, DEF, 40)
        COMBO(left_paren, &kp LPAR, 4 16, DEF NAV, 40)
        COMBO(less_than, &kp LT, 5 17, DEF NAV, 40)

        // Vertical Right
        COMBO(greater_than, &kp GT, 6 18, DEF, 40)
        COMBO(right_paren, &kp RPAR, 7 19, DEF NAV NUM, 40)
        COMBO(right_brace, &kp RBRC, 8 20, DEF NAV NUM, 40)
        COMBO(right_bracket, &macro_right_brac, 9 21, DEF, 40)

        COMBO(del_word, &kp LC(BACKSPACE), 8 9, DEF NAV NUM, 50)

/*                          KEY POSITIONS

  ╭────────────────────────╮              ╭────────────────────────╮
  │  0   1   2   3   4   5 |              │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 |              │ 18  19  20  21  22  23 │
  │ xx  25  26  27  28  29 xx────╮ ╭─────xx 32  33  34  35  36  xx │
  ╰──────────────╮ xx  39  40 xx | | xx  43  44  xx ╭──────────────╯
                 ╰───────────────╯ ╰────────────────╯
*/

        // Shortcuts
        COMBO(undo, WIN_UNDO, 25 26, DEF, 30)
        COMBO(redo, WIN_REDO, 13 25, DEF, 30)
        COMBO(copy, WIN_COPY, 26 27, DEF, 30)
        COMBO(cut, WIN_CUT, 26 28, DEF, 30)
        COMBO(paste, WIN_PASTE, 27 28, DEF, 30)
        COMBO(select_all, WIN_SELECT_ALL, 25 28, DEF, 30)
        COMBO(save, WIN_SAVE, 2 3, DEF, 30)

        // VSCode - Delete Line 
        COMBO(delLine, &kp LC(LS(K)), 1 4, DEF, 40)

        // One Shot NUM
        COMBO(combo_NUM, &macro_os_NUM, 14 15, DEF, 40)

        // One Shot SYM
        COMBO(combo_SYM, &macro_os_SYM, 20 21, DEF, 40)

        // Hands Down
        COMBO(combo_z, &kp Z, 16 28, DEF, 35)
        COMBO(combo_q, &kp Q, 19 33, DEF, 35)
    };
};